*{
    margin: 0;
    padding: 0;
}


body{
    max-width: 1440px;
    margin: auto
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;700&family=Passion+One&display=swap');

:root {
    --verde: #5CA720;
    --preto: #161616;
    --cinza-hr: #A5A1A1;
    --cinza-foooter: #F9F9F9;
    --fonte: 'Bebas Neue', arial, verdana, sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 94px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: var(--fonte);
    font-size: 25px;
}
.title > p{
    display: inline-block;
    font-weight: bold;
}
.topbar > ul{
    display: flex;
    flex-direction: row;
    float: right;
    list-style: none;
}
.topbar > ul > li{
    padding-left: 15px;
}
.banner{
    display: flex;
    justify-content: center;
    min-width: 100%;
}
.banner > img{
    min-width: 100%;
    height: 347.78px;
}
.subbanner{
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fonte);
    font-weight: bold;
}
main{
    margin: auto;
    margin-top: 3px;
    max-width: 90%;
    margin-bottom: 100px;


}
.produto{
    margin-top: 50px;
    margin-left: 100px;
    font-family: var(--fonte);
    font-size: 26px;
    display: inline-block;
    
}
.produto > img{
    border-radius: 10px;
    height: 300px;
    width: 300px;
    

}
.produto > h3{
    margin-top: 20px;
    font-size: 25px

}
.produto > p{
    display: inline-block;
}
#preço{
    margin-left: 5px;
    color: var(--verde);
    font-size:  30px;
}
footer{
    background-color: var(--cinza-foooter);
    height: 160px;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between
}

footer > ul{
    display: inline-block;
    font-family: var(--fonte);
    font-weight: bolder;
    list-style: none;

}
footer > ul > li{
    margin-bottom: 5px;
}
.inputs > p{
    font-family: var(--fonte);
    font-weight: bold;
    margin-bottom: 20px;

}
#e-mail{
    height: 54px;
    width: 397px;
    font-family: var(--fonte);
    color: #A8A4A4;
    font-weight: 400;
    font-size: 20px;
    border: #A5A1A1;
    padding-left: 5px;
    border-radius: 5px;


}
#botao{
    height: 54px;
    width: 160px;
    background-color: var(--verde);
    margin: 0px;
    padding: 0px;
    border: 0ch;
    color: #F9F9F9;
    padding: 10px;
    font-size: large;
}
.footer2{
    display: flex;
    height: px;
    padding: 40px;
    justify-content: space-between;
    background-color: var(--cinza-foooter);
}
.footer2 > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.footer2 > ul > li{
    padding-right: 10px ;

}