*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;700&family=Passion+One&display=swap');

:root {
    --verde: #5CA720;
    --preto: #161616;
    --cinza-hr: #A5A1A1;
    --cinza-foooter: #F9F9F9;
    --fonte: 'Bebas Neue', arial, verdana, sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 94px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: var(--fonte);
    font-size: 25px;
}
.title > p{
    display: inline-block;
    font-weight: bold;
}
.topbar > ul{
    display: flex;
    flex-direction: row;
    float: right;
    list-style: none;
}
.topbar > ul > li{
    padding-left: 15px;
}
.banner{
    display: flex;
    justify-content: center;
    min-width: 100%;
}
.banner > img{
    min-width: 100%;
    height: 347.78px;
}
